<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">
</head>

<section>
  <div class="card">
    <div class="box">
      <p class="name">Jonas oliveira</p>
      <input #phoneInput type="tel" class="home" [disabled]="true">
    </div>
    <div class="box">
      <p class="address"><span>Address:</span> rua xxx sadasdas gw</p>
      <p class="email"><span>Email:</span> myemail@mev.hr</p>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <p class="name">Jonas oliveira</p>
      <input type="tel" #phoneInput>
    </div>
    <div class="box">
      <p class="address">rua xxx sadasdas gw</p>
      <p class="email">myemail@mev.hr</p>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <p class="name">Jonas oliveira</p>
      <input type="tel" #phoneInput>
    </div>
    <div class="box">
      <p class="address">rua xxx sadasdas gsssssssssssssssssssssssssssssssssssssssssssssssssw</p>
      <p class="email">myemail@mev.hr</p>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <p class="name">Jonas oliveira</p>
      <input type="tel" #phoneInput>
    </div>
    <div class="box">
      <p class="address">rua xxx sadasdas gw</p>
      <p class="email">myemail@mev.hr</p>
    </div>
  </div>
</section>
