nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  box-shadow: var(--shadow);
  width: calc(100vw - (100vw - 100%));
  height: 10vh;
  padding: 0 5%;
  z-index: 999999;

  p {
    color: var(--primary);
    font-size: var(--fs-700);
    font-weight: 600;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    width: 35%;
    height: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      height: 100%;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text);
        font-weight: 500;
        text-decoration: none;
        width: 100%;
        height: 100%;
        transition: font-size 100ms ease-in-out;

        &:hover{
          font-size: var(--fs-500);
          transition: all 100ms ease-in-out;
        }
      }
    }
  }
}

.active{
  color: var(--accent) !important;
}
